In [1]:
# list
prime = [2, 3, 7, 11]  # Create list prime with 2, 3, 7, and 11 as elements
prime.append( 5 )      # add element 5
prime

[2, 3, 7, 11, 5]

In [2]:
prime.sort()           # sort prime 
prime

[2, 3, 5, 7, 11]

In [3]:
del prime[4]           # delete fourth element in prime
prime

[2, 3, 5, 7]

In [4]:
prime[0] = 1
prime

[1, 3, 5, 7]

In [5]:
orders = ['potato', ['pizza', 'Coke', 'salad'], 'hamburger']
orders[1]
['pizza', 'Coke', 'salad']
orders[1][2]
'salad'

'salad'

In [1]:
john = [90, 85, 70]
aiden = [88, 79, 92]
jack = [100, 100, 100] 
park = [90, 60, 70]

students = [john, aiden, jack, park]

for scores in students:
    total = 0
    for s in scores:
        total = total + s
    average = total / 3
    print(scores, total, average)

[90, 85, 70] 245 81.66666666666667
[88, 79, 92] 259 86.33333333333333
[100, 100, 100] 300 100.0
[90, 60, 70] 220 73.33333333333333

In [11]:
# tuple
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [13]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

# Following action is not valid for tuples
# tup1[0] = 100;

# So let's create a new tuple as follows
tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [15]:
p = (1,2,3)
q = p[:1] + (5,) + p[2:]
q

(1, 5, 3)

In [16]:
r = p[:1], 5, p[2:]
r

((1,), 5, (3,))

In [17]:
p = (1, 2, 3)
q = list(p)                  # Make list q with tuple p
q

[1, 2, 3]

In [18]:
r = tuple(q)                 # Make tuple r with list q
r

(1, 2, 3)

In [19]:
# dictionary
smalldic = {'dictionary' : 'reference', 'python' : 'snake'}
smalldic['python']

'snake'

In [20]:
smalldic

{'dictionary': 'reference', 'python': 'snake'}

In [21]:
del smalldic['dictionary']

In [22]:
family = {'boy':'choi', 'girl':'kim', 'baby':'choi'}
family

{'baby': 'choi', 'boy': 'choi', 'girl': 'kim'}

In [23]:
family.keys()

dict_keys(['boy', 'girl', 'baby'])

In [24]:
family.values()

dict_values(['choi', 'kim', 'choi'])

In [25]:
'boy' in family

True